.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 90vh;
}
