@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  padding: 7rem 8.25rem;
  gap: 32px;
  justify-content: space-between;
  animation: appear.3s ease-in-out;
}

.activeImage {
  width: 445px;
  height: 445px;
}

.imageSection {
  position: relative;
}

.mobilePictureNav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.mobilePictureNav > div {
  width: 40px;
  height: 40px;
  border-radius: 38px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.activeImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.imageThumbnailSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
}

.thumbNail {
  width: 92px;
  height: 92px;
  position: relative;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.thumbNail > div:nth-child(1) {
  position: absolute;
  height: 100%;
  width: 100%;
}

.thumbNail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.textSection {
  width: 48%;
}

.textSection > p:nth-child(1) {
  color: #ff7d1a;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.textSection > h2:nth-child(2) {
  color: #1d2025;
  font-family: Kumbh Sans;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 2rem;
}

.textSection > p:nth-child(3) {
  color: #68707d;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.textSection > div:nth-child(4) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.textSection > div:nth-child(4) > h4:nth-child(1) {
  color: #1d2025;
  font-family: Kumbh Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0.5rem 0;
}

.textSection > div:nth-child(4) > div:nth-child(2) {
  border-radius: 5px;
  background: #ffede0;
  color: #ff7d1a;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding: 0 10px;
}

.textSection > div:nth-child(4) > div:nth-child(3) {
  margin-left: auto;
  display: none;
}

.textSection > div:nth-child(5),
.textSection > div:nth-child(4) > div:nth-child(3) {
  color: #1d2025;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.48px;
  text-decoration: line-through;
  margin-bottom: 2rem;
}

.counterAndSubmit {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.counterAndSubmit > div:nth-child(1) {
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: #000;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
  background: #f7f8fd;
}

.counterAndSubmit > div:nth-child(1) > button {
  color: #ff7d1a;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
  background: transparent;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.counterAndSubmit > button {
  border-radius: 10px;
  background: #ff7d1a;
  box-shadow: 0px 8px 10px 0px #ffede0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 17px 77px;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.active {
  border: 2px solid #ff7d1a;
  transition: all 0.3s ease-in-out;
}

.active > div:nth-child(1) {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.5;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.modalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  animation: appear.3s ease-in-out;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 0;
    gap: 32px;
    flex-direction: column;
  }

  .imageSection {
    width: 100%;
  }

  .activeImage {
    width: 100%;
    height: 100%;
  }

  .activeImage > img {
    border-radius: 0px;
  }

  .imageThumbnailSection {
    display: none;
  }

  .textSection {
    width: 100%;
    padding: 1.5rem;
  }

  .textSection > p:nth-child(1) {
    font-size: 12px;
    letter-spacing: 1.68px;
  }

  .textSection > h2:nth-child(2) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 1rem;
  }

  .textSection > p:nth-child(3) {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.56px;
  }

  .textSection > div:nth-child(4) > h4:nth-child(1) {
    font-size: 30px;
    line-height: 26px;
  }

  .textSection > div:nth-child(4) > div:nth-child(2) {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }

  .textSection > div:nth-child(4) > div:nth-child(3) {
    display: block;
  }

  .textSection > div:nth-child(5) {
    display: none;
  }

  .counterAndSubmit {
    flex-direction: column;
    margin-top: 2rem;
  }

  .counterAndSubmit > div:nth-child(1) {
    width: 100%;
    justify-content: space-around;
  }

  .counterAndSubmit > button {
    width: 100%;
    justify-content: center;
  }

  .mobilePictureNav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0;
    gap: 32px;
    flex-direction: column;
  }

  .imageSection {
    width: 100%;
  }

  .activeImage {
    width: 100%;
    height: 100%;
  }

  .activeImage > img {
    border-radius: 0px;
  }

  .imageThumbnailSection {
    display: none;
  }

  .textSection {
    width: 100%;
    padding: 1.5rem;
  }

  .textSection > p:nth-child(1) {
    font-size: 12px;
    letter-spacing: 1.68px;
  }

  .textSection > h2:nth-child(2) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 1rem;
  }

  .textSection > p:nth-child(3) {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.56px;
  }

  .textSection > div:nth-child(4) > h4:nth-child(1) {
    font-size: 30px;
    line-height: 26px;
  }

  .textSection > div:nth-child(4) > div:nth-child(2) {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }

  .textSection > div:nth-child(4) > div:nth-child(3) {
    display: block;
  }

  .textSection > div:nth-child(5) {
    display: none;
  }

  .counterAndSubmit {
    flex-direction: column;
    margin-top: 2rem;
  }

  .counterAndSubmit > div:nth-child(1) {
    width: 100%;
    justify-content: space-around;
  }

  .counterAndSubmit > button {
    width: 100%;
    justify-content: center;
  }

  .mobilePictureNav {
    display: flex;
  }
}
